@charset "utf-8";

/* Header styles */
#contact {
    background-color: cyan;
}

#contact > a {
    color: darkblue;
}

/* Article styles */
article {
    padding: 20px;
}

/* Form styles */
#contact_form {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: inherit;
    margin-bottom: 20px;
}

#contact_form > fieldset {
    background-color: rgba(0, 76, 216, 0.158);
    flex: 1 1 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgb(145, 145, 145) 5px 5px 15px;
}

legend {
    background-color: rgb(51, 82, 77);
    padding: 5px;
}

.formRow:has(input), .formRow:has(select) {
    display: flex;
    flex-flow: row wrap;
}

.formRow:has(textarea) {
    display: flex;
    flex-flow: column wrap;
}

.formRow > * {
    flex: 1 1 150px;
}

.formRow:has(textarea) label {
    flex: 1 1 25px;
}

.radioGroup {
    text-align: center;
}

/* Button styles */
#buttons {
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset'] {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
}

