@charset "utf-8";

/* Header styles */
#home {
    background-color: cyan;
}

#home > a {
    color: darkblue;
}

/* All Layer styles */
#layer_container {
    clear: both;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
}

hr { width: 100%;}

.layer {
    width: 100%;
}

/* Top Layer styles */
#top {
    position: relative;
    overflow: visible;
    flex: auto;
    display: flex;
    flex-flow: row wrap;
}

#top * {
    flex: auto;
}

#logo {
    width: 100%;
    height: auto;
}

/* Bottom Layer styles */
#bottom {
    flex: auto;
    display: flex;
    flex-flow: row wrap;
}

figure#bottom_video {
    box-sizing: border-box;
    flex: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    float: left;
}

figure#bottom_video > * {
    flex: auto;
    text-align: center;
}

figure#bottom_video > video {
    width: inherit
}


