@charset "utf-8";

/* Header styles */
#work {
    background-color: cyan;
}

#work > a {
    color: darkblue;
}

/* Main styles */
main img {
    width: 40%;
    height: auto;
}

/* Mobile styles */

@media only screen and (max-width: 1099px) {

    main img {
        width: 100%;
    }

    main dt, main dd {
        margin-left: auto;
        margin-right: auto;
    }
    
}
